{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Каталог товаров</title>
{% endblock %}

{% block content %}
    <hr>

    <div>
        <div>
            <h1 style="color: green; text-align: center">Каталог оборудования</h1>
        </div>
        {% include "includes/inc_product_categories_menu.html" %}
        <hr>

        <div class>
            <ul class="product_list">
                {% for product in products %}
                    <div class='product'>
                        <a href="#"><img src="/media/{{ product.image }}"
                                         alt="{{ product.short_desc }}">
                            <li><a href="#">{{ product.name }}</a></li>
                            <li>
                                <button><a href="{% url 'basket:add' product.pk %}">Добавить в корзину</a></button>
                            </li>
                            <li>
                                <button><a href="{% url 'basket:remove' product.pk %}">Удалить из корзины</a></button>
                            </li>
                    </div>
                {% endfor %}
            </ul>
        </div>


        {#        <div>#}
        {#            <ul class="product_list">#}
        {#                <div class="product">=<a href{% url 'product_6420' %}><img#}
        {#                        src={% static "/mainapp/img/Tropos_6420.png" %}#}
        {#                                alt="ABB Tropos 6420"></a>#}
        {#                    <li><a href={% url 'product_6420' %}>ABB Tropos 6420</a></li>#}
        {#                    <li><a href="#">Добавить в корзину</a></li>#}
        {#                    <li><a href="#">Удалить из корзины</a></li>#}
        {#                </div>#}
        {##}
        {#                <div><a href={% url 'product_4310' %}><img src={% static "/mainapp/img/Tropos_4310.jpg" %}#}
        {#                                                                   alt="ABB Tropos 4310"></a>#}
        {#                    <li><a href={% url 'product_4310' %}>ABB Tropos 4310</a></li>#}
        {#                </div>#}
        {#                <div><a href={% url 'product_1420' %}><img src={% static "/mainapp/img/Tropos_1420.jpg" %}#}
        {#                                                                   alt="ABB Tropos 1420"></a>#}
        {#                    <li><a href={% url 'product_1420' %}>ABB Tropos 1420</a></li>#}
        {#                </div>#}
        {#            </ul>#}
        {#        </div>#}
        <hr>
    </div>
{% endblock %}
