<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class=container>
        <div class=header>
            <img src="img/logo.png" width="60px" alt="logo">
            <ul class="menu">
                <li><a href="index.html">На главную</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>

        </div>
    </div>
    <hr>
    <div>
        <div>
            <h1 style="color: green; text-align: center">Каталог оборудования</h1>
        </div>
        <div>
            <ul class="product_list">
                <div><a href="6420.html"><img src="img/TropOS-6420-XA.png" width="80%" alt="ABB Tropos 6420"></a>
                    <li><a href="6420.html">ABB Tropos 6420</a></li>
                </div>

                <div><a href="4310.html"><img src="img/router-4310-mesh.jpg" width="80%" alt="ABB Tropos 4310"></a>
                    <li><a href="4310.html">ABB Tropos 4310</a></li>
                </div>
                <div><a href="1420.html"><img src="img/tropos-1420-mesh-router.jpg" width="80%" alt="ABB Tropos 1420"></a>
                    <li><a href="1420.html">ABB Tropos 1420</a></li>
                </div>
            </ul>
        </div>
        <hr>
    </div>
    <div class=footer>
        <footer>
            <p>&copy; Все права защищены</p>
        </footer>
    </div>
</body></html>
