<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Магазин оборудования</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class=container>
        <div class="header">
            <img src="img/logo.png" width="60px" alt="logo">
            <ul class="menu">
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div>
        <hr>
        <h1>Магазин оборудования</h1>
        <h3>Организация промышленной Mesh-сети</h3>
        <hr>
        <!-- Комментарий -->
        <h2> </h2>
        <img src="img/ABBTropos.jpg">
        <p><i><b>Приветственное сообщение на странице магазина</b></i><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, dignissimos!</p>
        <hr>
    </div>
    <div class=footer>
        <footer>
            <p>&copy; Все права защищены </p>
        </footer>
    </div>

</body></html>
