<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ABB Tropos 4310</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class=container>
        <div class="header">
            <img src="img/logo.png" width="60px" alt="logo">
            <ul class="menu">
                <li><a href="index.html">На главную</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div>
        <hr>
        <h1>Абонентский модуль для подвижной техники</h1>
        <hr>
        <h3>ABB TropOS 4310-XA Mobile Mesh Router</h3>
        <div class="product_image">
            <a href="img/router-4310-mesh.jpg" target="_blank">
                <img src="img/router-4310-mesh.jpg" alt="ABB Tropos 4310" title="ABB Tropos 4310"></a>
        </div>
        <div class="product_button">
            <input type="button" value="Купить">
        </div>
        <p class="overview">At vehicular speeds, the TropOS 4310-XA supports voice, video and data connectivity and extend the TropOS fixed network to provide access for tablets, handhelds, laptops and other endpoints equipped with a standard 802.11a/b/g/n connection.</p>

        <p class="description">The TropOS 4310-XA uses a standard 2.4 GHz 802.11 radio to connect with clients and other TropOS mesh routers. It is packaged in a rugged, weatherproof enclosure especially suited to extreme applications such as mining, rail transport and other uses subject to harsh operating temperatures, vibration and weather.</p>

        <p class="description">An easily deployed solution for increasing the productivity of field workers and enabling mobile machine-to-machine (M2M) communications, the TropOS 4310-XA can turn any vehicle into a mobile node. When deployed in rail cars, military vehicles or heavy equipment, it improves operational efficiency and enhances communications.</p>
    </div>
    <div>
        <hr>
        <h3>Характеристики</h3>
        <table class=table>
            <th>столбец А</th>
            <th>столбец Б</th>
            <th>столбец В</th>
            <th>столбец Г</th>
            <th>столбец Д</th>
            <tr>
                <td>параметр 1_1</td>
                <td>параметр 1_2</td>
                <td>параметр 1_3</td>
                <td>параметр 1_4</td>
                <td>параметр 1_5</td>
            </tr>
            <tr>
                <td>параметр 2_1</td>
                <td>параметр 2_2</td>
                <td>параметр 2_3</td>
                <td>параметр 2_4</td>
                <td>параметр 2_5</td>
            </tr>
            <tr>
                <td colspan="3">параметр 1</td>
                <td>параметр 4</td>
                <td>параметр 5</td>
            </tr>
            <tr>
                <td>параметр 1</td>
                <td>параметр 2</td>
                <td>параметр 3</td>
                <td>параметр 4</td>
                <td rowspan="2">параметр 5</td>
            </tr>
            <tr>
                <td>параметр 1</td>
                <td>параметр 2</td>
                <td>параметр 3</td>
                <td>параметр 4</td>
            </tr>
        </table>
        <ul class="feature_description">
            <li>Wireless continued</li>
            <p>- Multi-antenna system: 1-TX x 2-RX with MRC<br>
                − Support for 802.11n MRC</p>
            <li>Interfaces</li>
            <p>− TCP and VPN session persistent roaming across subnets<br>
                − Full 802.11b/g client compatibility<br>
                − IPv4; IPv6-ready<br>
                − 802.1q VLAN support<br>
                − Support for static and dynamic addressing for wireless and</p>
            <li>wired clients</li>
            <p>− Layer 2 and layer 3 support<br>
                − Session - persistent mobility across subnets<br>
                − DHCP server and relay<br>
                − NAT support<br>
                − Autosensing 10/100BASE-T Ethernet ports (management<br>
                and client connection)</p>
            <li>Quality of service</li>
            <p>− 802.11e WMM<br>
                − 802.1p/q with 4 queues per VLAN and ESSID<br>
                − 802.1p and DSCP<br>
                − VoIP and VoWiFi support</p>
        </ul>
        <hr>
    </div>
    <div class=footer>
        <footer>
            <p>&copy; Все права защищены</p>
        </footer>
    </div>
</body></html>
