<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class=header>
            <img src="img/logo.png" width="60px" alt="logo">
            <ul class="menu">
                <li><a href="index.html">На главную</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div>
        <hr>
        <h1>Маршрутизатор Wi-Fi промышлeнный ABB Tropos 6420 </h1>
    </div>
    <div class="product_image">
        <a href="img/tropos_6420.jpg" target="_blank">
            <img src="img/tropos_6420.jpg" alt="ABB Tropos 6420" title="ABB Tropos 6420"></a>
    </div>
    <div class="product_button">
        <input type="button" value="Купить">
    </div>
    <div class="overview">
        <p> Компактный и легкий форм-фактор Tropos 6420 идеально подходит для развертывания в местах, где внешний вид и вес являются являются важными требованиями. Двухдиапазонный mesh-маршрутизатор Tropos 6420 включает два MIMO радиопередатчика 2,4 ГГц и 5 ГГц, которые поддерживают как mesh-соединения так и подключения клиентов в обоих диапазонах. Также доступна версия с одним радиомодулем 2,4 ГГц, Tropos 6410.</p>
    </div>
    <div>
        <p class="description">Tropos 6420 можно заказать с двумя портами Ethernet, которые могут быть использованы для увеличения емкости сети и присоединения клиентских устройств, таких как видеокамеры, или с одним портом Ethernet, который можно использовать, чтобы увеличить емкость сети плюс последовательный (RS-232/RS-485) интерфейс.</p>
    </div>
    <hr>
    </div>
    <div>
        <h3>Характериcтики оборудования</h3>
        <table class=table>
            <th>столбец А</th>
            <th>столбец Б</th>
            <th>столбец В</th>
            <th>столбец Г</th>
            <th>столбец Д</th>
            <tr>
                <td>параметр 1_1</td>
                <td>параметр 1_2</td>
                <td>параметр 1_3</td>
                <td>параметр 1_4</td>
                <td>параметр 1_5</td>
            </tr>
            <tr>
                <td>параметр 2_1</td>
                <td>параметр 2_2</td>
                <td>параметр 2_3</td>
                <td>параметр 2_4</td>
                <td>параметр 2_5</td>
            </tr>
            <tr>
                <td colspan="3">параметр 1</td>
                <td>параметр 4</td>
                <td>параметр 5</td>
            </tr>
            <tr>
                <td>параметр 1</td>
                <td>параметр 2</td>
                <td>параметр 3</td>
                <td>параметр 4</td>
                <td rowspan="2">параметр 5</td>
            </tr>
            <tr>
                <td>параметр 1</td>
                <td>параметр 2</td>
                <td>параметр 3</td>
                <td>параметр 4</td>
            </tr>
        </table>
        <ul class="feature_description">
            <li>Беспроводная сеть</li>
            <p>IEEE 802.11b/g/n радиопередатчик: 2,400 - 2,473 ГГц (FCC / IC), 2.400 - 2.483 ГГц (ETSI / ЕС)
                IEEE 802.11a/n радиопередатчик: 5,150 - 5,350 ГГц, 5.470 - 5.850 ГГц</p>
            <li>Организация сети</li>
            <p>Один Gigabit Ethernet порт 10/100/1000BASE-T<br>
                Один IEEE 802.3u-совместимый 10/100BASE-T Ethernet порт или один последовательный порт (RS-232/RS-485)<br>
                Протоколы: DNP3, Modbus (RTU), Modbus (ASCII), raw<br>
                Поддержка IPv4; Готовность перехода на IPv6<br>
                BGP<br>
                Поддержку IEEE 802.1Q VLAN (Тэги на основе ESSID и IP)<br>
                Сохранение сессии мобильной связи при пересечении подсетей<br>
                Автоматическая регулирование скорости, мощности, каналов и частот<br>
                Поддержки передачи GOOSE-сообщений МЭК 61850 и системы 800xA RNRP</p>

            <li>Управление</li>
            <p>Локальные и удаленные средства управления через HTTPS<br>
                Беспроводное обновление программного обеспечения</p>

            <li>Опции</li>
            <p>GPS<br>
                Резервное питание<br>
                Стандартный и расширенный пакеты поддержки</p>
        </ul>
        <hr>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; Все права защищены</p>
        </footer>
    </div>

</body></html>
