
    <div class="header clearfix">

        <a href="#"><img src="/media/img/logo_3.png" width="80" alt="logo"></a>
        <ul class="menu clearfix">
            <li class="menu-list"><a class="menu-link" href={% url 'main' %} >Главная</a></li>
            <li class="menu-list"><a class="menu-link" href={% url 'products:index' %}>Каталог</a></li>
            <li class="menu-list"><a class="menu-link" href={% url 'contacts' %}>Контакты</a></li>
            {% if user.is_authenticated %}
                <li class="menu-list">
                    <div class="dropdown">
                        <a class="menu-link dropdown-toggle" href="" data-toggle="dropdown">
                            {{ user.first_name|default:'Пользователь' }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="menu-list">
                                <a class="menu-link" href="{% url 'auth:edit' %}">профиль</a>
                            </li>
                            <li class="menu-list">
    {#                            <a href="{% url 'ordersapp:orders_list' %}">#}
                                <a class="menu-link" href="{% url 'orders:order_list' %}">
                               заказы
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li class="menu-list">
                    <a class="menu-link" href="{% url 'adminapp:users' %}">админка</a>
                </li>
            {% endif %}




{#                {% endif %}#}
{#            <li><a href={% url 'basket:read' %}>Корзина</a></li>#}

{#            {% if user.is_authenticated %}#}
{#               {% comment %} <li>#}
{#                    <a href="{% url 'auth:edit' %}">#}
{#                        {{ user.first_name|default:'Пользователь' }}#}
{#                    </a>#}
{#                </li>{% endcomment %}#}
{#            {% endif %}#}
            <i class="fas fa-sign-in-alt"></i><li class="menu-list">
                <i class="fas fa-sign-in-alt"></i>
                {% if user.is_authenticated %}
                    <i class="fa fa-sign-in"></i><a class="menu-link" href="{% url 'auth:logout' %}">выйти</a>
                {% else %}
                    <a class="menu-link " href="{% url 'auth:login' %}">войти</a>
                {% endif %}
            </li>

        </ul>
    </div>
